<%- include('partials/head')%>

    <title>Create a new schedule</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <h1 class="text-center">Create a new schedule</h1>
    <div class="container">
        <form action="/schedules" method="POST" id="create-schedule">
            <div class="mb-3">            
                <label for="user_id" class="form-label">User</label>
                <select id="user_id" name="user_id" class="form-select">
                    <% users.forEach((user) => { %>
                        <option value='<%= user.user_id %> '><%= user.firstname %> <%= user.lastname %> </option>
                    <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label for="day" class="form-label">Day of the week</label>
                <select class="form-select" name="day" id="day">
                    <option value="1" selected>Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="start_at" class="form-label d-block">Start time</label>
                <input name="start_at" id="start_at" type="time" class="form-control">
            </div>
            <div class="mb-3">
                <label for="end_at" class="form-label d-block">End time</label>
                <input name="end_at" id="end_at" type="time" class="form-control">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>

    <!-- form validation js script -->
    <script type="module" src="/schedule-new-validation.js"></script>
<%- include('partials/footer')%>