<%- include('partials/head')%>

    <title>Schedules</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <h1 class="text-center">Schedules:</h1>
    <div class="row gy-4 text-center">
        <a href="/schedules/new" class="btn btn-outline-success align-s">Create new schedule</a>
        <% schedules.forEach((schedule) => { %> 
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Schedule <%= schedule.schedule_id %></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>User:</b> <%= schedule.firstname %> <%= schedule.lastname %> </li>
                        <li class="list-group-item"><b>Day:</b> <%= schedule.day %> </li>
                        <li class="list-group-item"><b></b> <%= schedule.start_at %> - </b> <%= schedule.end_at %></li>
                    </ul>
                    <a href="/users/<%= schedule.user_id %>/schedules " class="btn btn-secondary">All schedules of this User</a>
                </div>
            </div>
        </div>
        <% }) %> 
    </div>
    
<%- include('partials/footer')%>